body {
  margin: 0;
  font-family: sans-serif;
  background: #f3f3f3;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: rgba(16, 68, 131, 0.707);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

 .letter-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  width: 50%;
}

.letter-input-title {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
}

.letter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(6, 40, 68, 0.194);
  
}

.Button:hover, button:hover {
  background-color: rgb(165, 55, 55);
  transform: scale(1.05);
}

.btn:disabled {
  background: #777;
  cursor: not-allowed;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

