body {
  margin: 0;
  font-family: sans-serif;
  background: #f3f3f3;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: #979696;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  /* margin-top: 10px; */
}

.btn:disabled {
  background: #777;
  cursor: not-allowed;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}