.header {
  width: 50%;
  height: 60px;
  margin: 0 auto;
  background: chocolate;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
   flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    gap: 50px;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-link:hover {
  color: #fff;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 12px;
  }
  
  .nav {
    margin-top: 8px;
    gap: 12px;
  }
}
