.board {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 50%;
}

.cell {
  width: 60px;
  min-height: 60px;
  background: #0044ff;
  border-radius: 4px;
  border: 2px solid white;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #000;
  word-break: break-word;
}


